.cont{
    width: 80%;
    height: 250px;
    margin-right: 10%;
    margin-left: 10%;
}
.first{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
span{
    color: white;
    background-color: black;
    padding: 5px;
}
.firstp{
    width: 40%;
    float: left;
}
.secondp{
    width: 30%;
    float: right;
}